<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>subeventid</key>
		<integer>0</integer>
		<key>eventid</key>
		<integer>2</integer>
		<key>desc</key>
		<string>PicListViewController</string>
		<key>title</key>
		<string>图片列表</string>
		<key>image</key>
		<string>about_image</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>subeventid</key>
		<integer>0</integer>
		<key>eventid</key>
		<integer>0</integer>
		<key>desc</key>
		<string>0MB</string>
		<key>title</key>
		<string>清理缓存</string>
		<key>image</key>
		<string>about_clear_cache</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>subeventid</key>
		<integer>0</integer>
		<key>eventid</key>
		<integer>3</integer>
		<key>desc</key>
		<string>https://blog.csdn.net/u013943420</string>
		<key>title</key>
		<string>关于作者</string>
		<key>image</key>
		<string>about_us</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>subeventid</key>
		<integer>0</integer>
		<key>eventid</key>
		<integer>3</integer>
		<key>desc</key>
		<string>http://zh.learnlayout.com/</string>
		<key>title</key>
		<string>学习CSS布局</string>
		<key>image</key>
		<string>about_study</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>subeventid</key>
		<integer>0</integer>
		<key>eventid</key>
		<integer>2</integer>
		<key>desc</key>
		<string>ORCViewController</string>
		<key>title</key>
		<string>OCR体验</string>
		<key>image</key>
		<string>about_ocr</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>subeventid</key>
		<integer>0</integer>
		<key>eventid</key>
		<integer>2</integer>
		<key>desc</key>
		<string>IrregularShapeVC</string>
		<key>title</key>
		<string>不规则按钮点击</string>
		<key>image</key>
		<string>SanMing</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>subeventid</key>
		<integer>0</integer>
		<key>eventid</key>
		<integer>2</integer>
		<key>desc</key>
		<string>ProductInViewController</string>
		<key>title</key>
		<string>扫一扫</string>
		<key>image</key>
		<string>about_scan</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>subeventid</key>
		<integer>0</integer>
		<key>eventid</key>
		<integer>2</integer>
		<key>desc</key>
		<string>AudioPlayViewController</string>
		<key>title</key>
		<string>音频播放测试</string>
		<key>image</key>
		<string>about_audio</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>subeventid</key>
		<integer>0</integer>
		<key>eventid</key>
		<integer>4</integer>
		<key>desc</key>
		<string>0MB</string>
		<key>title</key>
		<string>关于xxx</string>
		<key>image</key>
		<string>AppIcon</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>eventid</key>
		<integer>0</integer>
		<key>subeventid</key>
		<integer>1</integer>
		<key>desc</key>
		<string>0MB</string>
		<key>title</key>
		<string>分享应用</string>
		<key>image</key>
		<string>about_share</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>eventid</key>
		<integer>1</integer>
		<key>subeventid</key>
		<integer>0</integer>
		<key>desc</key>
		<string>0MB</string>
		<key>title</key>
		<string>设置</string>
		<key>image</key>
		<string>about_setting</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
