<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>groupname</key>
		<string>颜色设置</string>
		<key>groupdetail</key>
		<array>
			<dict>
				<key>rowtype</key>
				<integer>0</integer>
				<key>rowname</key>
				<string>红</string>
				<key>rowvalue</key>
				<string>0xDC143C</string>
			</dict>
			<dict>
				<key>rowtype</key>
				<integer>0</integer>
				<key>rowname</key>
				<string>黄</string>
				<key>rowvalue</key>
				<string>#FFD700</string>
			</dict>
			<dict>
				<key>rowtype</key>
				<integer>0</integer>
				<key>rowname</key>
				<string>蓝</string>
				<key>rowvalue</key>
				<string>#6495ED</string>
			</dict>
			<dict>
				<key>rowtype</key>
				<integer>0</integer>
				<key>rowname</key>
				<string>默认</string>
				<key>rowvalue</key>
				<string>kDefaultThemeColor</string>
			</dict>
			<dict>
				<key>rowtype</key>
				<integer>0</integer>
				<key>rowname</key>
				<string>随机一个颜色</string>
				<key>rowvalue</key>
				<string>kRANDOM_COLOR</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>groupname</key>
		<string>其他设置</string>
		<key>groupdetail</key>
		<array>
			<dict>
				<key>rowtype</key>
				<integer>1</integer>
				<key>rowname</key>
				<string>大标题</string>
				<key>rowvalue</key>
				<string>1</string>
			</dict>
			<dict>
				<key>rowtype</key>
				<integer>2</integer>
				<key>rowname</key>
				<string>字体设置</string>
				<key>rowvalue</key>
				<string>FontSettingViewController</string>
			</dict>
			<dict>
				<key>rowtype</key>
				<integer>1</integer>
				<key>rowname</key>
				<string>每天上午10点提醒签到</string>
				<key>rowvalue</key>
				<string>2</string>
			</dict>
			<dict>
				<key>rowtype</key>
				<integer>1</integer>
				<key>rowname</key>
				<string>基于当前位置添加通知</string>
				<key>rowvalue</key>
				<string>3</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
